<!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>URL/CMP Builder</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    </head>
    <body>
        <header class="App-header">
            <img src="static/images/vzw-logo.png" class="App-logo" alt="logo" />
            <h1 class="App-title">Welcome to VZMediaOps</h1>
        </header>
    </header>
    {% block content %}

    {% endblock %}
    </body>
    </html>