{% extends "base.html" %}
{% block content %}
<h1>CRM URL/CMP Builder</h1>
<form id="fiosForm" action="/fiosForm" method="post">
<div class="container-fluid">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Tactic</th>
                <th>Line of Business</th>
                <th>Campaign Type</th>
                <th>Project Code</th>
                <th>Group</th>
                <th>In Market Date</th>
                <th>Platform</th>
                <th>Description</th>
                <th>Misc</th>
                <th>Landing Page URL</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <div class="form-row">
                    <td>
    {#                            <div class="form-group col-sm-12">#}
                        <input list="marketingtactic" class="form-control" name="marketingtactic" placeholder="Marketing Tactic">
                        <datalist id="marketingtactic" name="marketingtactic">
                            <option value="AFC">
                            <option value="TVA">
                            <option value="BAC">
                            <option value="DMO">
                        </datalist>
    {#                            </div>#}
                    </td>
                    <td>
{#                            <div class="form-group col-sm-12">#}
                        <input list="lineofbusiness" class="form-control" name="lineofbusiness" placeholder="Line of Business">
                        <datalist id="lineofbusiness" name="lineofbusiness">
                            <option value="CON">
                            <option value="SMB">
                        </datalist>
{#                            </div>#}
                    </td>
                    <td>
                        <input list="marketingcampaigntype" class="form-control" name="marketingcampaigntype" placeholder="Marketing Campaign Type">
                        <datalist id="marketingcampaigntype" name="marketingcampaigntype">
                            <option value="ACQ">
                            <option value="CRM">
                            <option value="PRS">
                            <option value="OTH">
                        </datalist>
                    </td>
                    <td>
                        <input type="text" class="form-control" id="projectcode" name="projectcode" placeholder="Project Code">
                    </td>
                    <td>
                        <input list="marketinggroup" class="form-control" name="marketinggroup" placeholder="Group">
                        <datalist id="marketinggroup" name="marketinggroup">
                            <option value="140">
                            <option value="AA">
                            <option value="AM">
                            <option value="BG">
                        </datalist>
                    </td>
                    <td>
                        <input type="text" class="form-control" id="inmarketdate" name="inmarketdate" placeholder="In Market Date">
                    </td>
                    <td>
                        <input list="platform" class="form-control" name="platform" placeholder="Platform">
                        <datalist id="platform" name="platform">
                            <option value="FBK">
                            <option value="TWT">
                            <option value="GGL">
                            <option value="INS">
                        </datalist>
                    </td>
                    <td>
                        <input type="text" class="form-control" id="description" name="description" placeholder="Description">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="misc" name="misc" placeholder="Misc">
                    </td>
                    <td>
                        <input type="text" class="form-control" id="landingpageurl" name="landingpageurl" placeholder="Landing Page URL">
                    </td>
                </div>
            </tr>
        </tbody>
<button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
</form>
{#<input type="submit" id="submit-button">#}

{% endblock %}