{% extends "base.html" %}
{% block content %}
<h1>CRM URL/CMP Builder</h1>

<form id="fiosForm" action="/fiosForm" method="post">
    <input list="marketingtactic" name="marketingtactic" placeholder="Marketing Tactic">
    <datalist id="marketingtactic" name="marketingtactic">
        <option value="AFC">
        <option value="TVA">
        <option value="BAC">
        <option value="DMO">
    </datalist>

    <input list="lineofbusiness" name="lineofbusiness" placeholder="Line of Business">
    <datalist id="lineofbusiness" name="lineofbusiness">
        <option value="CON">
        <option value="SMB">
    </datalist>

    <input list="marketingcampaigntype" name="marketingcampaigntype" placeholder="Marketing Campaign Type">
    <datalist id="marketingcampaigntype" name="marketingcampaigntype">
        <option value="ACQ">
        <option value="CRM">
        <option value="PRS">
        <option value="OTH">
    </datalist>

    <input type="text" id="landingpageurl" name="landingpageurl" placeholder="Landing Page URL">

    <input type="text" id="projectcode" name="projectcode" placeholder="Project Code">


<input type="submit" id="submit-button">
</form>

{% endblock %}